{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    <nav class="navbar">
        <div class="container justify-content-end fixed-top">
          <a class="navbar-brand text-uppercase fs-1 fw-bold " href="{{path('main_index')}}">Accueil</a>
        </div>
      </nav>


 
      <div class="container">


        <div class=" row vh-100 align-items-center">

     
  
        <div class="row">
                    <!-- CATEGORIE -->

                    <div class="col-md-12 col-lg-6 mb-4 d-grid">
                        <div class="row">              
                 {% for category in categories %}
                <div class="col-md-12 col-lg-6 text-bg-primary"> 
                                <div class=" p-md-5   m-1">
                                    <a href="#" class="text-center text-white fs-1 fw-bold display-6 ">{{ category.designation }}</a>
                                </div>
                         </div>
                    {% endfor %}
                          
                            </div>
                    </div>
                        <!-- reference -->
                       
                    <div class=" text-center col-md-12 col-lg-6 align-self-center "> 
                        <p class="my-sm-6 lead">Acceder directement à la rèférence :  </p>
                    <input type="text" class="form-control text-center" placeholder="référence article">
    
                    <a href="#"> <button type="button" class="btn btn-secondary mt-4 ">Enter</button></a> 
                    </div> 
                   
        </div> 
        
  </div>
  </div>
  
{% endblock %}
