<footer>
    <ul>
        <li>
            <a href="#">Mentions légales</a>
        </li>
        <li>
            <a href="#">Politique de confidentialité</a>
        </li>
        <li>
            <a href="#">Conditions générales d'utilisation</a>
        </li>
    </ul>
    <p>
        Ludotek - Tous droits réservés - {{ date()|date("Y") }}
    </p>
</footer>